<h1 mat-dialog-title>Editar Usuário</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="displayNone" appearance="fill" display="none">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" name="id" value="{{ data.id }}" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Usuário:</mat-label>
      <input
        matInput
        formControlName="nome"
        name="nome"
        value="{{ data.nome }}"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input
        matInput
        formControlName="email"
        name="email"
        value="{{ data.email }}"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone:</mat-label>
      <input
        matInput
        formControlName="telefone"
        name="telefone"
        value="{{ data.telefone }}"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="btn-salvar-dialog"
    (click)="updateUsuario()"
    [disabled]="!form.valid"
  >
    Salvar Alterações
  </button>
  <button class="btn-fechar-dialog" (click)="onNoClick()">Fechar</button>

  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</div>
