<app-header></app-header>
<main>
  <div class="container-titulo">
    <mat-card-title class="titulo"> Gêneros </mat-card-title>
    <img src="../assets/img/mask.png" alt="" />
  </div>
  <form [formGroup]="form" (submit)="salvarDadosGenero()">
    <section class="container-bg">
      <div class="container">
        <div>
          <mat-label>Cadastrar Gênero</mat-label>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput formControlName="genero" required />
            <mat-error>{{ error }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <button
        class="btn-cadastrar"
        mat-flat-button
        type="submit"
        [disabled]="!form.valid"
      >
        Salvar
      </button>
    </section>
  </form>
  <section class="section-lista">
    <mat-card class="card mat-elevation-z0" *ngFor="let genero of generos">
      <p>{{ genero.nome }}</p>
      <div class="btn">
        <div>
          <button
            class="custom-btn btn-1 btn-white"
            (click)="openDialog(genero.id, '0ms', '0ms')"
          >
            <span>Editar</span>
          </button>
          <button
            class="custom-btn btn-2 btn-black"
            (click)="deletarGenero(genero.id)"
          >
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </mat-card>
  </section>
</main>
<app-footer></app-footer>
