<app-header></app-header>

<main>
  <div class="titulo">
    <h1>Monte sua coletânea de filmes...</h1>
  </div>
  <div class="card-texto">
    <h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam iste
      assumenda
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita numquam
      ex qui, impedit, vero quas corporis corrupti consectetur ab tempore
      aspernatur totam molestias culpa? Deserunt itaque quas dignissimos nihil
      consequatur.
    </p>
  </div>
  <mat-card class="example-card">
    <div class="container">
      <img
        mat-card-image
        src="../assets/img/cinema.png"
        alt="Photo of a Shiba Inu"
      />
      <h2>Filmes</h2>
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
          doloribus eaque, quod tenetur velit autem magni animi blanditiis
          ducimus eum quos neque recusandae, vitae, officia laboriosam
          voluptatum molestiae incidunt optio!
        </p>
      </mat-card-content>
    </div>
    <div class="container">
      <img
        mat-card-image
        src="../assets/img/mask.png"
        alt="Photo of a Shiba Inu"
      />
      <h2>Categoria</h2>
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
          doloribus eaque, quod tenetur velit autem magni animi blanditiis
          ducimus eum quos neque recusandae, vitae, officia laboriosam
          voluptatum molestiae incidunt optio!
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</main>

<app-footer></app-footer>
