<h1 mat-dialog-title>Editar Filme</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="displayNone" appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" name="id" value="{{ data.id }}" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filme:</mat-label>
      <input
        matInput
        formControlName="nome"
        name="nome"
        value="{{ data.filme }}"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gênero</mat-label>
      <mat-select class="select-dialog" formControlName="select" required>
        <mat-option *ngFor="let genero of generos" value="{{ genero.nome }}">{{
          genero.nome
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    class="btn-salvar-dialog"
    (click)="updateFilmes()"
    type="submit"
    [disabled]="!form.valid"
  >
    Salvar Alterações
  </button>
  <button class="btn-fechar-dialog" (click)="onNoClick()">Fechar</button>

  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
  <!-- </div> -->
</div>
